<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
  <preference for="ImageKit\ImageKitMagento\Core\ConfigurationInterface" type="ImageKit\ImageKitMagento\Model\Configuration"/>
  <type name="Magento\Catalog\Block\Product\View\Gallery">
    <plugin name="imagekit_add_images_to_gallery" type="ImageKit\ImageKitMagento\Plugin\AddImagesToGalleryBlock" />
  </type>
  <type name="Magento\Catalog\Helper\Image">
    <plugin name="imagekit_plugin_image_helper" type="ImageKit\ImageKitMagento\Plugin\Helper\Image" />
  </type>
  <type name="Magento\Catalog\Block\Product\ImageFactory">
    <plugin name="imagekit_plugin_catalog_block_product_imagefactory" type="ImageKit\ImageKitMagento\Plugin\Catalog\Block\Product\ImageFactory"/>
  </type>
  <type name="Magento\Catalog\Model\Product\Image\UrlBuilder">
    <plugin name="imagekit_plugin_catalog_model_product_image_urlbuilder" type="ImageKit\ImageKitMagento\Plugin\Catalog\Model\Product\Image\UrlBuilder" />
  </type>
  <type name="Magento\Catalog\Model\Product\Media\Config">
    <plugin name="imagekit_product_media_config_plugin" type="ImageKit\ImageKitMagento\Plugin\MediaConfig"/>
  </type>
  <type name="Magento\Widget\Model\Template\Filter">
    <plugin name="imagekit_plugin_widget_model_template_filter" type="ImageKit\ImageKitMagento\Plugin\Widget\Model\Template\Filter"/>
  </type>

</config>